<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CMSXtreamConnection" connectionString="Data Source=DESKTOP-8TB9DH4;Initial Catalog=JETTSFIT_New;User ID=MCFITNESS;Password=MCFITNESS"/>
  </connectionStrings>
  <appSettings>
    
    <add key="CompanyName" value="MaviththaraGym"/>
    <add key="BackUPFilePath" value="D:\LINDSIS Xtream\BackUPFile"/>
    <add key="AdminPhoneNumber" value=""/>
    <add key="RefershTimeInterval" value="10"/>
    
    <add key="IncentiveMargin_in_K" value="110"/>
    <add key="IncentivePresentation" value="10"/>

      <!--Comment "DeviceIP" key to go without attendance Machin Primary IP should be-->
	  <add key="DeviceIP" value="192.168.1.201"/>
	  <add key="DeviceIP_2" value="192.168.1.201"/>
	  <add key="COMPORT" value="4370"/>
    <add key="COMMKEY" value="0"/>
  </appSettings>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
	
</configuration>
